* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
    background-color: rgb(61, 60, 60);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.container {
    width: 600px;
    height: 350px;
    border: 10px solid white;
    position: relative;
  }
  .prev {
    position: absolute;
    top: 40%;
    font-size: 25px;
    font-weight: bold;
    color: white;
    left: 20px;
  }
  .next {
    position: absolute;
    top: 40%;
    font-size: 25px;
    font-weight: bold;
    color: white;
    right: 20px;
  }
  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.461);
    transition: 0.5s;
    z-index: 10;
  }
  .nav-btn:hover {
    background-color: white;
    color: black;
  }

  .carousel-container img {
    width: 580px;
    height: 330px;
  }
  .item {
    position: absolute;
    display: none;
  }
  .main {
    display: block;
  }
  .carousel-container {
    position: relative;
  }
  .item .caption {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.365);
    align-items: center;
    color: white;
    height: 35px;
  }